@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adding float animation for gift box */
@keyframes float {
  0% {
    transform: translateY(0px) rotate(-10deg);
  }
  50% {
    transform: translateY(-10px) rotate(-10deg);
  }
  100% {
    transform: translateY(0px) rotate(-10deg);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* Shower water effect */
@keyframes water-fall {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.animate-water-fall {
  animation: water-fall 1.5s linear infinite;
}